@import '~normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800&display=swap');

body {
  background-color: rgb(37, 43, 66);
  font-family: 'Montserrat', sans-serif;
  margin: 0 10%;
  position: relative;
  color: white;
}

/* Main header start */

.header.main-header {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  color: white;
  padding: 2rem 0;
}

.header.main-header .nav.left-block {
  display: flex;
  align-items: center;
}

.nav.left-block .brand-name {
  font-size: 2rem;
  padding: 1rem 0;
}

.nav.left-block .nav-links-list ul {
  display: flex;
  list-style-type: none;
}

.nav.left-block .nav-links-list li {
  margin-left: 1rem;
}

.nav.left-block .nav-links-list a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}

.nav.left-block .nav-links-list a:hover {
  color: rgb(35, 166, 240);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.nav.left-block .nav-links-list a:active {
  color: rgba(255, 255, 255, 0.75);
}

.header.main-header .nav.right-block {
  display: flex;
  align-items: center;
}

.nav.button-login a {
  color: white;
  font-weight: 800;
  padding: 1rem;
  border: none;
  text-decoration: none;
}

.nav.right-block .nav.button-login a:hover {
  color: rgb(35, 166, 240);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.nav.right-block .nav.button-login a:active {
  color: rgba(255, 255, 255, 0.75);
}

.nav.button-signIn button {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 800;
  font-size: 1rem;
  padding: 1.2rem 1.5rem;
  border: 2px solid rgb(35, 166, 240);
  border-radius: 0.3rem;
  background-color: rgb(35, 166, 240);
  margin-left: 2rem;
  min-width: max-content;
  cursor: pointer;
}

.nav.right-block .nav.button-signIn button:hover {
  transition-duration: 0.5s;
  background-color: transparent;
}

.nav.right-block .nav.button-signIn button:active {
  transition-duration: 0.1s;
  background-color: rgb(35, 166, 240);
}

.button.dropDown-menu {
  display: none;
  align-items: center;
}

.button.dropDown-menu .icon.burger-icon {
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.button.dropDown-menu .icon.burger-icon:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.button.dropDown-menu .icon.burger-icon:active {
  transform: scale(1);
  transition: 0.3s;
}

.menu.dropDown-menu {
  display: flex;
  gap: 1rem;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 0;
  padding: 0.3rem;
  border-radius: 0.3rem;
  background-color: rgb(35, 166, 240);
  transition: opacity 0.3s, visibility 0.5s;
}

.menu.dropDown-menu .nav.left-block {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  transition: opacity 1s;
}

.menu.dropDown-menu .nav.right-block {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 0.5s;
  margin: 1rem;
}

.menu.dropDown-menu .button.close {
  position: relative;
  color: white;
  padding-top: 0.3rem;
  text-align: right;
}

.button.close .icon.close-icon {
  position: absolute;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.3rem;
  right: 0;
}

.button.close .icon.close-icon:hover {
  transform: scale(0.9);
}

.button.close .icon.close-icon:active {
  transform: scale(1);
}

.menu.dropDown-menu a {
  color: white;
  text-decoration: none;
  font-weight: 800;
  font-size: 1.2rem;
}

.menu.dropDown-menu a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.menu.dropDown-menu ul {
  list-style-type: none;
  padding: 0;
}

.menu.dropDown-menu li {
  padding: 0.5rem 0;
}

@media screen and (max-width: 1350px) {
  .header.header.main-header .nav.right-block {
    display: none;
  }
  .header.header.main-header .button.dropDown-menu {
    display: flex;
  }
}

@media screen and (max-width: 960px) {
  body {
    margin: 0 5%;
  }
  .header.main-header .nav.left-block .nav-links-list {
    display: none;
  }
  .menu.dropDown-menu .nav.left-block {
    margin: 1rem;
    width: auto;
    height: auto;
  }
}

/* Main header end */

/* Top container with info start */
.container.info {
  padding: 5% 0;
}

.container.info .text.greeting .greeting-message {
  font-weight: 700;
  color: rgb(35, 166, 240);
}

.container.info .text.headline-text {
  margin: 3rem 0;
  font-size: 4rem;
  font-weight: 700;
  max-width: 100vh;
  line-height: 1.5em;
}

.container.info .text.quote {
  max-width: 100vh;
  padding-bottom: 3rem;
  line-height: 2em;
}

.container.info .text.quote .quote-text {
  font-weight: 300;
  font-size: 1.5rem;
}

.container.info .button .signIn-button {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  padding: 1.2rem 1.5rem;
  border: 2px solid rgb(35, 166, 240);
  border-radius: 0.3rem;
  background-color: rgb(35, 166, 240);
  min-width: max-content;
  cursor: pointer;
}

.container.info .button .signIn-button:hover {
  transition-duration: 0.5s;
  background-color: transparent;
}

.container.info .button .signIn-button:active {
  transition-duration: 0.1s;
  background-color: rgb(35, 166, 240);
}

@media screen and (max-width: 425px) {
  .container.info .text.headline-text {
    font-size: 2em;
  }
}

/* Top container with info end*/
