@import '~normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: rgb(37, 43, 66);
}

p,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Main container */
.container--primary {
  position: relative;
}

/* Main container background image */
.background.image {
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/home-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Section welcome block start*/

.container--primary.welcome-block {
  position: relative;
  z-index: 1;
  padding: 0 10%;
  background: linear-gradient(90deg, #000 0.13%, #000 0.14%, rgba(0, 0, 0, 0) 99.56%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header.main-header {
  font-weight: 800;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.header.main-header .nav.left-block {
  display: flex;
  align-items: center;
}

.nav.left-block .brand-name {
  font-size: 2rem;
  padding: 1rem 0;
}

.nav.left-block .nav-links-list ul {
  list-style-type: none;
  display: flex;
}

.nav.left-block .nav-links-list li {
  margin-left: 1rem;
}

.nav.left-block .nav-links-list a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}

.nav.left-block .nav-links-list a:hover {
  color: rgb(35, 166, 240);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.nav.left-block .nav-links-list a:active {
  color: rgba(255, 255, 255, 0.75);
}

.header.main-header .nav.right-block {
  display: flex;
  align-items: center;
}

.nav.button-login a {
  font-weight: 800;
  color: white;
  text-decoration: none;
  padding: 1rem;
  border: none;
}

.nav.right-block .nav.button-login a:hover {
  color: rgb(35, 166, 240);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.nav.right-block .nav.button-login a:active {
  color: rgba(255, 255, 255, 0.75);
}

.nav.button-signIn button {
  font-size: 1rem;
  font-weight: 800;
  color: white;
  display: flex;
  align-items: center;
  margin-left: 2rem;
  padding: 1.2rem 1.5rem;
  min-width: max-content;
  background-color: rgb(35, 166, 240);
  border: 2px solid rgb(35, 166, 240);
  border-radius: 0.3rem;
  cursor: pointer;
}

.nav.right-block .nav.button-signIn button:hover {
  background-color: transparent;
  transition-duration: 0.5s;
}

.nav.right-block .nav.button-signIn button:active {
  background-color: rgb(35, 166, 240);
  transition-duration: 0.1s;
}

.button.dropDown-menu {
  display: none;
  align-items: center;
}

.button.dropDown-menu .icon.burger-icon {
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.button.dropDown-menu .icon.burger-icon:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.button.dropDown-menu .icon.burger-icon:active {
  transform: scale(1);
  transition: 0.3s;
}

.menu.dropDown-menu {
  display: flex;
  visibility: hidden;
  position: absolute;
  z-index: 2;
  gap: 1rem;
  right: 10%;
  padding: 0.3rem;
  background-color: rgba(35, 166, 240, 0.95);
  border-radius: 0.3rem;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.5s;
}

.menu.dropDown-menu .nav.left-block {
  visibility: hidden;
  width: 0;
  height: 0;
  opacity: 0;
  transition: opacity 1s;
}

.menu.dropDown-menu .nav.right-block {
  visibility: hidden;
  margin: 1rem;
  opacity: 0;
  transition: opacity 1s, visibility 0.5s;
}

.menu.dropDown-menu .button.close {
  color: white;
  text-align: right;
  position: relative;
  padding-top: 0.3rem;
}

.button.close .icon.close-icon {
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  padding: 0.3rem;
  cursor: pointer;
}

.button.close .icon.close-icon:hover {
  transform: scale(0.9);
}

.button.close .icon.close-icon:active {
  transform: scale(1);
}

.menu.dropDown-menu a {
  font-size: 1.2rem;
  font-weight: 800;
  color: white;
  text-decoration: none;
}

.menu.dropDown-menu a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.menu.dropDown-menu ul {
  list-style-type: none;
  padding: 0;
}

.menu.dropDown-menu li {
  padding: 0.5rem 0;
}

@media screen and (max-width: 1350px) {
  .header.header.main-header .nav.right-block {
    display: none;
  }
  .header.header.main-header .button.dropDown-menu {
    display: flex;
  }
}

@media screen and (max-width: 960px) {
  .container--primary.welcome-block {
    padding: 0 5%;
  }
  .menu.dropDown-menu {
    right: 5%;
  }
  .header.main-header .nav.left-block .nav-links-list {
    display: none;
  }
  .menu.dropDown-menu .nav.left-block {
    margin: 1rem;
    width: auto;
    height: auto;
  }
}

/* Main header end */

/* Top container with info start */
.container--info {
  padding: 7% 0;
}

.container--info .text.greeting .greeting-message {
  font-weight: 700;
  color: rgb(35, 166, 240);
}

.container--info .text.headline-text {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5em;
  margin: 3rem 0;
  max-width: 70dvh;
}

.container--info .text.quote {
  line-height: 2em;
  padding-bottom: 3rem;
  max-width: 70dvh;
}

.container--info .text.quote .quote-text {
  font-size: 1.5rem;
  font-weight: 300;
}

.container--info .button .signIn-button {
  font-size: 1rem;
  font-weight: 700;
  color: white;
  display: flex;
  align-items: center;
  padding: 1.2rem 1.5rem;
  min-width: max-content;
  background-color: rgb(35, 166, 240);
  border: 2px solid rgb(35, 166, 240);
  border-radius: 0.3rem;
  cursor: pointer;
}

.container--info .button .signIn-button:hover {
  background-color: transparent;
  transition-duration: 0.5s;
}

.container--info .button .signIn-button:active {
  background-color: rgb(35, 166, 240);
  transition-duration: 0.1s;
}

@media screen and (max-width: 425px) {
  .container--info .text.headline-text {
    font-size: 2em;
    margin: 2rem 0;
  }
  .container--info .text.quote .quote-text {
    font-size: 1rem;
    padding-bottom: 2rem;
  }
}

/* Section welcome block end*/

/* Section cards start */

.container--page-sections {
  padding: 0 10%;
}

.container__cards {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  padding: 10% 0;
}

.container__cards .main-content .text {
  text-align: center;
}

.container__cards .main-content .text .text-content {
  font-weight: 700;
  color: rgb(35, 166, 240);
  letter-spacing: 0.2px;
}

.container__cards .main-content .text .title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.2px;
  margin: 0;
  padding: 1rem 0;
}

.container__cards .main-content .text .quote:first-child {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 1.5rem;
}

.container__cards .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.cards .card {
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  padding: 2.2rem 2.5rem;
  background-color: white;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}

.cards .card .text {
  display: flex;
  justify-content: center;
}

.cards .card .text .title {
  font-weight: 700;
  color: #252b42;
}

.cards .card .element.divide-line {
  min-width: 3.2rem;
  border: 1px solid #e74040;
}

.cards .card .text .text-content {
  font-weight: 400;
  color: #737373;
  max-width: 50%;
}

.cards .card .icon-block {
  display: flex;
  justify-content: center;
}

.cards .card .icon-block .background {
  padding: 1.4rem 1.2rem;
  background-color: #e74040;
  border-radius: 0.6rem;
}

.cards .card .icon-block .image {
  width: 2rem;
  height: 2rem;
}

.cards .card.card-1 .icon-block .image {
  background-image: url(../assets/icon-heart.svg);
}

.cards .card.card-2 .icon-block .image {
  background-image: url(../assets/icon-flag.svg);
}

@media screen and (max-width: 425px) {
  .cards .card .text .text-content {
    min-width: min-content;
  }
  .container--page-sections {
    padding: 0 5%;
  }
}

/* Section cards end */

/* Course review container start */

.container--page-sections .container--course-review {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 10% 0;
}

.container--course-review .sideblock.main-content {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  width: max-content;
}

.sideblock.main-content .element.divide-line {
  height: 7px;
  max-width: 6rem;
  background-color: #e74040;
}

.sideblock.main-content .text .title {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.2px;
  margin: 0;
}

.sideblock.main-content .text .quote-text {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 1.3rem;
}

.sideblock.main-content .link {
  display: flex;
}

.sideblock.main-content .link a {
  font-weight: 700;
  color: rgb(35, 166, 240);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sideblock.main-content .link a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.sideblock.main-content .link a:active {
  color: rgba(255, 255, 255, 0.75);
}

.sideblock.main-content .link .icon {
  font-size: 1.5rem;
}

.container--course-review .sideblock.images {
  position: relative;
  width: 401px;
  height: 507px;
}

.sideblock.images .main-image {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 408px;
  height: 408px;
  background-image: url(../assets/man-in-glasses.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 83px;
  box-shadow: #00087e 30px 22px;
}

.sideblock.images .image.round-graphic {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 76px;
  width: 247px;
  height: 247px;
  background-image: url(../assets/round-graphics.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sideblock.images .image.rating {
  position: absolute;
  z-index: 2;
  top: 50px;
  right: 0px;
  width: 115px;
  height: 58px;
  background-image: url(../assets/rating.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 600px) {
  .container--course-review .sideblock.images {
    height: 320px;
    max-width: 80lvw;
  }
  .sideblock.images .image.rating {
    top: 0;
    right: 10%;
  }
  .sideblock.images .main-image {
    width: 250px;
    height: 250px;
    background-size: 250px;
  }
  .sideblock.images .image.round-graphic {
    width: 123px;
    height: 123px;
    background-size: 123px;
  }
}

@media screen and (max-width: 425px) {
  .sideblock.images .image.image.rating {
    top: 0;
    right: -15px;
  }
}

.container {
  display: grid;
  grid-gap: 80px;
  justify-content: center;
  padding: 160px 0;
}

.main-content {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.2px;
  display: grid;
  grid-gap: 10px;
}

.main-content__section-tag {
  color: rgb(35, 166, 240);
  line-height: 24px;
}

.main-content__title {
  font-size: 40px;
  line-height: 50px;
}

.main-content__quote {
  font-weight: 400;
  line-height: 20px;
  max-width: 500px;
  justify-self: center;
}

.cards {
  justify-self: center;
}

.cards__carousel {
  display: flex;
  gap: 15px;
  width: 710px;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
}

.cards__card--active {
  scroll-snap-type: unset;
}

.cards__card {
  flex: 1 0 330px;
  scroll-margin: 5px;
}

.cards__product-image {
  position: relative;
  height: 300px;
  max-width: 330px;
  background-color: lightgray;
  background-position: center;
  background-repeat: no-repeat;
}

.cards__product-image-1 {
  background-image: url(../assets/product-cover\(first-card\).png);
}

.cards__product-image-2 {
  background-image: url(../assets/product-cover-176.png);
}

.cards__product-image-3 {
  background-image: url(../assets/product-cover-175.png);
}

.cards__tag {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 24px;
  display: inline-flex;
  margin: 20px;
  padding: 0 10px;
  background-color: #e74040;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.cards__product-actions {
  display: inline-flex;
  position: absolute;
  gap: 10px;
  right: 27%;
  bottom: 24px;
  left: 27%;
}

.cards__action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 44.786px;
}

.cards__icon {
  width: 20px;
  height: 20px;
}

.cards__icon--favorite {
  background-image: url(../assets/icn-favorite.svg);
}

.cards__icon--basket {
  background-image: url(../assets/icn-basket.svg);
}

.cards__icon--view {
  background-image: url(../assets/icn-view.svg);
}

.cards__description {
  color: #000;
  display: grid;
  grid-gap: 10px;
  padding: 25px 25px 35px 25px;
  max-width: 330px;
  background-color: white;
}

.cards__header-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards__link {
  font-size: 14px;
  font-weight: 700;
  color: rgb(35, 166, 240);
  text-decoration: none;
  letter-spacing: 0.2px;
  line-height: 24px;
}

.cards__rating {
  color: white;
  display: flex;
  gap: 5px;
  padding: 5px;
  background-color: #252b42;
  border-radius: 20px;
}

.cards__rating-icon {
  width: 16px;
  height: 16px;
  background-image: url(../assets/icon-emojione-star.svg);
}

.cards__rating-number {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 16px;
}

.cards__title {
  font-size: 16px;
  font-weight: 700;
  color: #252b42;
  letter-spacing: 0.1px;
  line-height: 24px;
}

.cards__text-content {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  color: #737373;
  letter-spacing: 0.2px;
  line-height: 20px; /* 142.857% */
}

.cards__sales {
  color: #737373;
  display: flex;
  gap: 10px;
  align-items: center;
}

.cards__sales-number {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 24px;
}

.cards__sales-image {
  width: 16px;
  height: 16px;
  background-image: url(../assets/icon-sales.svg);
}

.cards__price {
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: flex;
  gap: 10px;
}

.cards__price--color-gray {
  font-size: 16px;
  color: #bdbdbd;
}

.cards__price--color-green {
  font-size: 16px;
  color: #40bb15;
}

.cards__short-overview {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  color: #737373;
  letter-spacing: 0.2px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.cards__short-overview-block {
  display: flex;
  gap: 5px;
}

.cards__short-overview-icon {
  width: 16px;
  height: 16px;
}

.cards__short-overview-icon--clock {
  background-image: url(../assets/icon-clock.svg);
}

.cards__short-overview-icon--chart {
  background-image: url(../assets/icon-carbon-chart-area-smooth.svg);
}

.cards__short-overview-icon--graph {
  background-image: url(../assets/icon-ant-design-area-chart-outlined.svg);
}

.cards__button--small {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid rgb(35, 166, 240);
  border-radius: 37px;
}

.cards__button-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  color: rgb(35, 166, 240);
  letter-spacing: 0.2px;
  line-height: 24px; /* 171.429% */
}

.cards__button-icon {
  width: 9px;
  height: 16px;
  background-image: url(../assets/icn-arrow-right.svg);
}

@media screen and (max-width: 750px) {
  .cards__carousel {
    width: 400px;
  }
}

@media screen and (max-width: 425px) {
  .cards__card {
    flex-basis: 290px;
  }
  .cards__carousel {
    width: 290px;
  }
}

.testimonials {
  display: grid;
  justify-content: center;
}

.testimonials__carousel {
  display: flex;
  gap: 15px;
  max-width: 50dvw;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
}

.cards__card--active {
  scroll-snap-type: unset;
}

.testimonials__item {
  flex: 1 0 400px;
  padding: 25px 25px 0 25px;
  background-color: white;
  scroll-margin: 5px;
}

.testimonials__user-cover {
  display: flex;
  justify-content: center;
}

.testimonials__user-cover-image {
  background-image: url(../assets/testimonial-user-cover-150.png);
}

.testimonials__content {
  display: grid;
  grid-gap: 15px;
  padding: 30px;
}

.testimonials__text-content {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.2px;
  line-height: 20px;
  max-width: 50%;
  justify-self: center;
}

.testimonials__rating {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.testimonials__rating-icon {
  width: 22px;
  height: 22px;
  background-image: url(../assets/icn-bxs-full-star.svg);
}

.testimonials__rating-icon.cards__rating-icon--empty {
  background-image: url(../assets/icn-empty-star.svg);
}

.testimonials__employee-fullName {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #252b42;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 24px; /* 150% */
}

.testimonials__employee-position {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  color: #737373;
  text-align: center;
  letter-spacing: 0.2px;
  line-height: 24px; /* 171.429% */
}

.form__dispatch--email-subscribe {
  display: flex;
  justify-content: center;
}

.form__dispatch-input {
  padding: 15px 20px;
  width: 40dvw;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px 0 0 5px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 200% */
  letter-spacing: 0.2px;
}

.button__subscribe {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 28px; /* 200% */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 22.5px;
  background-color: rgb(35, 166, 240);
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  color: white;
}

.button__subscribe:hover {
  background-color: rgba(35, 166, 240, 0.85);
}

/* Course review container end*/
@media (pointer: none), (pointer: coarse) {
  .cards__carousel {
    overflow-x: scroll;
  }
  .testimonials__carousel {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 900px) {
  .testimonials__item {
    flex-basis: fit-content;
  }
  .testimonials__carousel {
    max-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .form__dispatch-input {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .testimonials__item {
    flex-basis: 290px;
    padding: 0;
  }
  .testimonials__content {
    padding: 30px 0;
  }
  .testimonials__carousel {
    max-width: 290px;
  }
}
